<div>
  <form [formGroup]="paymentForm" (ngSubmit)="submitForm()">

    <div class="form-group" [ngClass]="{ 'has-error': submitted && f.nameOnCard.errors }">
      <label>Name on Card</label>
      <input formControlName="nameOnCard" class="form-control" type="text" placeholder="John Krane" >
      <div *ngIf="submitted && f.nameOnCard.errors" class="alert alert-danger">Invalid Cardholder Name.</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': submitted && f.cardNumber.errors }">
      <label>Card Number</label>
      <input formControlName="cardNumber" class="form-control" type="text" placeholder="1234123412341234">
      <div *ngIf="submitted && f.cardNumber.errors"  class="alert alert-danger">Invalid Card Number.</div>
    </div>

    <div class="form-group expiry" [ngClass]="{ 'has-error': submitted && (f.expirationMonth.errors ||f.exexpirationYear.errors) }">
      <label>Date of Expiration</label>
      <input formControlName="expirationMonth" class="form-control month" type="text" placeholder="07">
      <input formControlName="expirationYear" class="form-control year" type="text" placeholder="2017">
      <div *ngIf="submitted && (f.expirationMonth.errors ||f.expirationYear.errors)"  class="alert alert-danger">Invalid Date of Expiration.</div>
    </div>

    <div class="form-group cvc" [ngClass]="{ 'has-error': submitted && f.cvv.errors }">
      <label>CVV/CVC</label>
      <input formControlName="cvv" class="form-control" type="text" placeholder="123">
      <div *ngIf="submitted && f.cvv.errors" class="alert alert-danger">Invalid CVV / CVC Number.</div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <h3 class="center-block text-center">{{displayMessage}}</h3>
  </form>
</div>